:root {
  --background: #f9f7fe;
  --btn-color: #6c63ff;
  --font-1: "Poppins", sans-serif;
  --font-2: "Playfair Display", serif;
}
body {
  justify-content: center;
}
p {
  font-family: var(--font-1);
  font-weight: normal;
  font-size: 36px;
  line-height: 30px;
}
h1 {
  font-family: var(--font-2);
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-size: 64px;
  font-weight: bold;
  font-family: var(--font-2);
}
.container-fluid {
  background-color: var(--background);
  text-align: center;
  padding: 160px 0;
}
.header h2 {
  font-family: var(--font-1);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: #272142;
}
.btn {
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
  color: white;
  border-radius: 3px;
  font-family: var(--font-1);
  font-weight: lighter;
  font-size: 15px;
  line-height: 29px;
  padding: 12px 30px;
}
.btn:hover {
  background-color: var(--btn-color);
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #272142;
}
.btn-branding-outline {
  background-color: white;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  border-radius: 3px;
  font-family: var(--font-1);
  font-weight: lighter;
  font-size: 20px;
  line-height: 30px;
  padding: 12px 30px;
}
.container-2 p {
  font-family: var(--font-1);
  font-weight: 100;
  font-size: 18px;
  padding: 12px 20px;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1,
  h2 {
    font-size: 44px;
  }
  .container-fluid {
    padding: 80px 20px;
  }
}
