:root {
  --background: #f9f7fe;
  --btn-color: #6c63ff;
  --font-1: "Poppins", sans-serif;
  --font-2: "Playfair Display", serif;
}
body {
  justify-content: center;
}
p,
h3 {
  font-family: var(--font-1);
  font-weight: normal;
  font-size: 36px;
  line-height: 30px;
}
h1 {
  font-family: var(--font-2);
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-size: 64px;
  font-weight: bold;
  font-family: var(--font-2);
}
.container-fluid {
  background-color: var(--background);
  text-align: center;
  padding: 160px 0;
}
.header p {
  font-weight: bold;
}
.header h2 {
  font-family: var(--font-1);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: #272142;
}
.btn {
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
  color: white;
  border-radius: 6px;
  font-family: var(--font-1);
  font-weight: lighter;
  font-size: 15px;
  line-height: 29px;
  padding: 12px 30px;
}
.btn:hover {
  background-color: var(--btn-color);
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #272142;
}
.btn-branding-outline {
  background-color: white;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  border-radius: 6px;
  font-family: var(--font-1);
  font-weight: lighter;
  font-size: 20px;
  line-height: 30px;
  padding: 12px 30px;
}
.container-2 p {
  font-family: var(--font-1);
  font-weight: 100;
  font-size: 18px;
  padding: 12px 20px;
}
.project-description {
  padding: 120px 60px;
}
/*About Page*/
.about-p {
  font-size: 18px;
  font-weight: bold;
}
.about-d {
  font-size: 16px;
  font-weight: normal;
}
.container {
  text-align: left;
  padding: 160px 0;
}
.container .img-fluid {
  max-width: 100%;
  justify-content: center;
  text-align: center;
}
.container h1 {
  font-size: 70px;
  font-weight: bold;
  line-height: 80px;
}
.container a {
  font-size: 20px;
  line-height: 2;
}
/*Work Page*/

.content {
  padding: 160px 20px;
}
.work-h2,
.work-p {
  font-family: var(--font-1);
  text-align: center;
  font-size: 24px;
}
.work-p {
  font-size: 14px;
}
/*Contact Page*/
.contact h3 {
  font-family: var(--font-1);
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}
.contact a {
  text-decoration: underline;
  color: #0d6efd;
  font-size: 14px;
}
form {
  width: 600px;
}
.form-container {
  display: flex;
  font-family: var(--font-1);
}
/*Navbar*/
.logo {
  max-height: 40px;
}
.container-nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--btn-color) !important;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
  cursor: pointer;
  font-family: var(--font-1);
  font-size: 14px;
  font-weight: medium;
}
/*Footer*/
footer {
  margin: 60px 0;
  color: black;
  text-align: center;
}
footer .contact-box h2 {
  font-family: var(--font-2);
  text-align: start;
  font-size: 48px;
}
footer .contact-details {
  font-family: var(--font-1);
  font-weight: medium;
  font-size: 24px;
}
footer .contact-box-left {
  margin-top: 13px;
}
footer a {
  text-decoration-style: none;
  color: #272142;
}
footer .icons a {
  margin: 0 20px;
  border-radius: 50%;
  font-size: 18px;
  color: var(--btn-color);
  background-color: var(--background);
  padding: 10px 14px;
  border: #f9f7fe;
  transition: all 150ms ease-in-out;
}
footer .icons a:hover {
  color: white;
  background: var(--btn-color);
}
footer .contact-box {
  background-color: var(--background);
  padding: 30px 120px;
  margin: 250px;
  height: 200px;
  border-radius: 20px;
}
footer p {
  font-size: 18px;
}
footer .contact-box p {
  margin: 0;
  font-size: 18px;
  text-align: start;
}
footer .contact-box-btn {
  text-align: end;
  margin-top: 30px;
}
footer .contact-box-btn a {
  font-size: 18px;
  padding: 20px;
  width: 200px;
}
.contact-details .open-sourced {
  color: #0d6efd;
  text-decoration: underline;
  font-size: 16px;
  line-height: 30px;
}

@media (max-width: 1282px) {
  .project-description,
  .container {
    padding: 0;
    text-align: center;
  }
  h1,
  h2 {
    font-size: 44px;
  }
  .container-fluid {
    padding: 80px 20px;
  }
  .contact h1 {
    max-width: 100%;
  }
  footer .contact-box h2 {
    font-size: 24px;
  }
  footer .contact-box p {
    font-size: 18px;
  }
}
